div.card>img {
    background-color: black;
}

#fondo {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/originals/49/73/ea/4973ead72580df908af111b6770fe6ac.jpg);
}

footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.685);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 1rem black;
    margin-top: 1em;
    margin-bottom: 1em;
}

#text {
    background-color: white;
    padding: 0.5rem; 
    border-radius: 10px;
    box-shadow: 20px #000;
    margin: auto;
    margin-bottom: 0.7em;
}

#X {
    font-size: 15px;
}